<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input v-model="weight"> kg<br>
    <span>Wzrost: </span>
    <input v-model="height"> cm
    <p>Wskaźnik BMI: {{ bmi }}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        weight: null,
        height: null,
      },
      computed: {
        bmi: function () {
          let bmi = this.weight/(this.height * this.height);
          return isNaN(bmi) ? 0 : bmi.toFixed(2);
        }
      }
    });
  </script>

</body>
</html>