<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <span>Tytul:</span>
    <input type="text" id="title" v-model="title">
    <span>Imie:</span>
    <input type="text" id="name" v-model="name">
    <span>Nazwisko:</span>
    <input type="text" id="surname" v-model="surname">
    <button v-on:click="display">Zapisz</button>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '',
            name: '',
            surname: ''
        },
        methods: {
            display: function (event) {
                console.log(
                        'Tytul: ' + this.title + '\n' +
                        'Imie: ' + this.name + '\n' +
                        'Nazwisko' + this.surname
                );
            }
        }
    });
</script>

</body>
</html>